@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body {
    width: 100%;
    background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/grid.png) repeat #fefefe;
}

.modalbg {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 99999;
    -moz-transition: all 2s ease-out;
    -webkit-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -transition-delay: 0.2s;
    display: block;
    pointer-events: none;
}

.modalbg .dialog {
    width: 60%;
    overflow: auto;
    position: relative;
    top: -1000px;
    margin: 10% auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 0 10px #000000;
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
}

.modalbg:target {
    display: block;
    pointer-events: auto;
    background: rgba(4, 10, 30, 0.8);
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.modalbg:target .dialog {
    top: 100px;
    -moz-transition: all 0.8s ease-out;
    -webkit-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -transition-delay: 0.4s;
}

.close {
    background: #2dbcb5;
    margin-top: 5px;
    color: #493e90;
    line-height: 25px;
    position: absolute;
    right: 5px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 0 0 10px #000000;
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -transition-delay: 0.2s;
}

.close:hover {
    background: #493e90;
    color: #2dbcb5;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

a {
    color: #493e90;
    text-decoration: none;
}

.dialog h2 {
    text-align: center;
}

.dialog h3 {
    text-align: center;
    color: #2dbcb5;
    margin-top: 10px;
}

.dialog h4 {
    text-align: center;
    color: #493e90;
    font-weight: 900;
    margin-bottom: 8px;
}

.dialog-image {
    margin-top: 18%;
}

.dialog-image img {
    width: 100%;
}

.dialog p {
    color: #2dbcb5;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

